 <form class="mui-col-md-2 mui-panel " id="form-<%= val.id %>">
      <img class="modal pointer sm-img" src="<%=val.thumb_path%>"
           id="img-<%= val.id %>"
           class="sm-img model pointer"
           data-src="<%=val.src_path%>" data-dir="<%= dir %>" />

      <input type="checkbox"
             id="checkbox-<%=val.id%>"
             class="chkbox checkmark"
             name="selected-image" data-name="<%=val.name%>"
             value="<%= val.id %>" data-dir="<%= dir %>" />
        <!--a data-dir="<%= dir %>" data-src="<%= val.name %>" class="rotate" > rotate </a-->
        <table>
          <tbody>
          <tr><td>Date:</td><td><input id="img-<%= val.id %>-date" value="<%=val.date%>" name="date" type="date"></td></tr>
          <tr><td>Company:</td><td><span id="img-<%= val.id %>-company-display"><%=val.company__name%></span></td></tr>
          <tr><td>Section:</td><td><span id="img-<%= val.id %>-section-display"><%=val.section__name%></span></td></tr>
          <tr><td>Location:</td><td><span id="img-<%= val.id %>-loc-display"><%=val.location__name%></span></td></tr>
          <tr><td>Subject:</td><td>
           <small>
            <input type="text" id="img-<%=val.id%>-subject" name='subject' value="<%=val.subject%>" maxlength="255" >
           </small></td></tr>
          </tbody>
        </table>

         <input type="hidden" name="id" value="<%=val.id%>" id="img-<%= val.name %>-id" />
         <input type="hidden" name="company_id" value="<%=val.company_id%>" id="img-<%= val.id %>-company" />
         <input type="hidden" name="section_id" value="<%=val.section_id%>" id="img-<%= val.id %>-section" />
         <input type="hidden" name="location_id" value="<%=val.location_id%>" id="img-<%= val.id %>-loc" />
         <input type="hidden" name="lat"  value="<%= val.lat %>" />
         <input type="hidden" name="lng" value="<%= val.lng %>" />

        </div>
 </form>
