
    <small>Subject</small>
    <input type="text" class="subject-select" style=" padding:2px; height: 25px;  background-color: #fff; border: 1px solid #aaa; border-radius: 4px;" id="subject-select"
            name="subject"
            placeholder="Add subject to selected" />

  <button id="evt-add-subject" class="mui-btn mui-btn--small mui-btn--primary">+</button>
  <button class="create_quick_btn mui-btn mui-btn--small mui-btn--raised"
  data-target="company-select"
  data-event="evt-add-company"
  data-group="company" title="Create A Company Quick Button"><i class="fa fa-bolt"></i></button>
