.sm-img {max-width: 300px;}
.tiny-img{max-width: 150px; }
.pad-img{ padding: 10px; }
.margin-img{ margin: 5px;}
.img-layer {
    cursor: pointer;
    border: 1px solid #CCC;
    margin: 10px;
    box-shadow: 2px 2px #d3d1d1, 4px 4px #dddddd, 6px 6px #f6f6f6 ;
}

/**
 * Body CSS
 */
html,
body {
  height: 100%;
  background-color: #fefefe;
  font-size:11px;/*font-weight:400;line-height:1.429;*/
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.checkmark{
  padding:
}

.pointer{
 cursor:pointer;
}
/* Images */

.del-float-btn{
  display: block;
  background-color: red;
  color: white;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  text-align: center;
  line-height: 11px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
top: 0px;
right: 0;

}


/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #F8F8F8;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #sidedrawer-brand {
    padding-left: 20px;
}

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}



/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #333;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  text-decoration: none;
}

/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/*
checkbox
*/

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: green;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #ccc;
}

input.checkmark:checked ~ .checkmark {
/* When the checkbox is checked, add a blue background */
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input.checkmark:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pull-right{
 float: right;
}

.sleeping-giant {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 5px;
    background: #fff;
    display: none;
    z-index: 1000;
}

.sleeping-giant-active {
    background: #f6f6f6;
    background-color: rgb(246, 246, 246);
    width: 100%;
    display: block !important;
    visibility: visible !important;
}

.sleeping-giant-close{
 height: 50px;
}

.slide-content{position: relative; height: 500px; overflow-y: hidden; }
.display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
