


{% extends 'base.html' %}

{% block title %}Import Batch{% endblock %}

{% block main_header %}Import Batch{% endblock %}
{% block sub_header %} {% endblock %}

 
  
{% block content %}


<form method="post" class="mui-form" action="{% url 'core-collect-router' action='upload' %}" enctype="multipart/form-data">
  <div class="mui-textfield">
  <label>Name Import:</label>
  <input type="text" name="name" value="{% now "Y-m-d_H_i" %}" placeholder="Import Name" />
  </div>
  
  <div class="mui-textfield">
  <label>Select Zip:</label>
  <input type="file" name="images" id="images" accept=".zip" />
  </div>
  <input type="submit" class="mui-btn mui-btn--primary" value="Upload" />
  {% csrf_token %}
</form>

{% endblock %}

{% block extrajs %}
{% endblock %}
