{% extends 'base.html' %}
{% block extracss %}

<style>
.del-float-btn{

  display: block;
  background-color: red;
  color: white;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  text-align: center;
  line-height: 11px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
top: 0px;
right: 0;

}
</style>

{% endblock %}
{% block title %}Scan/Import Directory{% endblock %}


{% block toolbar %}

<div  style="background-color:#fff;">
<span id="import-message">Starting Import</span>

<table style="width:100%; padding:1px; margin:0px;">

  <tbody>
<tr>
       <td valign='top'>
         {% include 'collect/partials/select-company.html' %}
       </td>
       <td valign='top'>
         {% include 'collect/partials/select-section.html' %}
       </td>

       <td valign='top'>
         {% include 'collect/partials/select-location.html' %}
       </td>

       <td valign='top'>
         {% include 'collect/partials/select-subject.html' %}
       </td>

       <td valign='top'>
         <button id="save_seq" class="save_seq mui-btn mui-btn--small mui-btn--primary">Save Sequence</button>
       </td>

</tr>
</tbody>

</table>
</div>

{% endblock %}

{% block navbar %}

<div id="quick-btn-wrapper">
  <div class="mui-textfield">
  <input type="text" onkeyup="_app.el_find(this);" placeholder="Company Search" class="" data-target="company-quick-btns", data-class='.quick_btn_trigger' />
</div>
  <div id="company-quick-btns" > </div>
</div>

{% endblock %}


{% block main_header %}
{% endblock %}


{% block sub_header %}

{% endblock %}


{% block content %}
<div class="mui-row" style="margin:20px;">
  <div class="mui-col-md-12">
    <div id="file-list"> </div>
  </div>
</div>
{% endblock %}




{% block extrajs %}

<script src='/static/vendor/jquery/select_on_shift.js'></script>

<script type="text/plain" id="file-list-temp">
{% include 'collect/partials/file-list.tmpl'%}
</script>


<script>

//red, green, blue, egg yolk yellow, orange, purple, brown, black
  const  img_edit = {
    rotation_count:0,

    rotation:function(el){
      console.log(el);
      let dr = el.getAttribute("data-dir");
      let fn = el.getAttribute("data-src");
      img_edit.rotation_count += 1;
     _app.xhr_get('/img/edit/rotate', {'dir':dr, 'file_name': fn}, function(e){

      img = _app.el('img-'+fn);
      img_src = img.getAttribute('data-src');
      img.src = img_src += '?ver='+img_edit.rotation_count;
      console.log(_app.xhr_res(e));  } );
    },
};



  const _scan = {
      path:'',
      dir:'',
      imgs:[],
      locs:[],
      sect_id:'',
      sect_name:'',

      init:function(path, dir, section_id, section_name, loc_id, loc_name){

        this.events();
        this.path = path;
        this.sect_id = section_id;
        this.sect_name = section_name
        this.loc_id = loc_id;
        this.loc_name = loc_name

        this.dir = dir;
        this.msg = _app.el('import-message');
        this.get_locations();

      },


      events:()=>{
      _app.event_bind('file-list', 'click', (e) => {
          if (e.target && e.target.matches("a.rotate")) {
            img_edit.rotation(e.target);
          }
          });

       _app.event_add(_app.el('save_seq'), 'click', (e)=>{


         var checkboxes = _app.query_dom("input[type='checkbox']:checked");
         checkboxes.forEach( (node, idx)=>{
           console.log(node.value)
            form = _app.el(node.value+"-form");
            inputs = form.getElementsByTagName('input');
            params = _scan.get_form_data(inputs);
           //console.log(form);
           //console.log(inputs);
           console.log(params);

           _app.xhr_post('/collect/save', params, (e)=>{console.log(_app.xhr_res(e));});

         });

       });

      },

      get_form_data:(inputs)=>{
        values = {};
        for(var i=0; i<inputs.length; i++){

          values[inputs[i].name] = inputs[i].value;

        }
        return values;
      },

      get_locations:function(){
        _scan.msg.innerHTML = 'Downloading Locations';
        _app.xhr_get('/location/index', {}, function(e){

        _scan.locs = _app.xhr_res(e).locations;
        _scan.msg.innerHTML = 'Buiding Thumbnails';
        _scan.get_list(_scan.path, _scan.dir);
        _scan.msg.innerHTML = 'Buiding List';


      });

      },

      get_list:function(path, dir){
        _app.xhr_post('/collect/thumbs', {path: path, dir: dir},  _scan.get_list_load);
      },

      get_list_load:function(e){
        let img   = _app.xhr_res(e).meta_data;
        let tmp   = _.template(_app.el('file-list-temp').innerHTML);
        let ele   = _app.el('file-list');
        let total = img.length-1;
        _scan.msg.innerHTML = 'Adding images';
        _.forOwn(img, function(v, k) {
           _app.el_html(ele, tmp({'idx': k, 'name':v.name,
           'section_id':_scan.sect_id, 'section_name':_scan.sect_name,
           'loc_id':_scan.loc_id, 'loc_name':_scan.loc_name,
           'thumb':v.thumb, 'src': v.src,  'dir':_scan.dir, 'total':total}));
          });

        _scan.get_meta(img);

      },

      get_meta:function(img){
        _scan.msg.innerHTML = 'Perdicting Meta Data';
        _scan.imgs = img;
        _.forOwn(img, function(v, k) {
              el = _app.el('img-'+v.name+'-date');
              dt = (v.exif_date === null) ? v.file_date : v.exif_date;
              el.value = dt;
        });
      },

      get_latlng:(v)=>{
        if(v.latlng !== null && v.latlng[0] !== null){
           _scan.msg.innerHTML = 'Location for'+k;
           loc = _scan.get_geo(v.latlng);
           if (loc !== null){
            _app.el('img-'+v.name+'-loc-display').innerHTML = loc.name;
            _app.el('img-'+v.name+'-loc').value = loc.id;
            _app.el('img-'+v.name+'-section-display').innerHTML = loc.section__name;
            _app.el('img-'+v.name+'-section').value = loc.section_id;
           }
        }


      },


      get_geo:function(latlng){
          var loc = null;
          var diff = 0;
          for(var key in _scan.locs){
            v = _scan.locs[key];
            if(loc === null) {
             diff = _scan.distance(v.lat, v.lng, latlng[0], latlng[1]);
             if (diff < 1.1){loc = v; break;}
            }
          }
        return loc;
      },


    distance:function(lat1, lon1, lat2, lon2) {
    // Converts numeric degrees to radians
    var toRad = function(Value) { return Value * Math.PI / 180;};
      var R = 6371; // km
      var dLat = toRad(lat2-lat1);
      var dLon = toRad(lon2-lon1);
      lat1 = toRad(lat1);
      lat2 = toRad(lat2);
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c;
      return d;
    },




    modal:function(src, name) {


      // initialize modal element
      var modalEl = document.createElement('div');
      var modalIm = document.createElement('IMG');
      modalIm.src = src;
      //modalIm.align = 'middle';
      modalIm.style.width = 'auto';

      modalIm.style.height = 'auto';

      modalIm.style.display = 'block';
      modalIm.style.maxWidth = '750px';
      modalIm.style.maxHeight = '550px';

      modalIm.style.margin = '2px';

      modalEl.style.maxHeight = '850px';

      modalEl.appendChild(modalIm);
      modalEl.style.width  = '75%';
      modalEl.style.height = '75%';
      modalEl.style.margin = '100px auto';
      modalEl.style.overflow = 'hidden';
      modalEl.style.backgroundColor = '#fff';

      data = _scan.imgs[name];
      html = '';
      for(var key in data){
        html += '<p>'+ key + ': '+ data[key]+ "</p>";
      }

        var metadiv = document.createElement('div');
           metadiv.style.overflowY = 'auto';
           metadiv.style.height = '300px';
            metadiv.innerHTML = html
        modalEl.appendChild( metadiv );
     /*
{ latlng: (2) […],
name: "0904171416.jpg",
path: "/home/scotty/apps/picbiz/images/2018-05-12_09_25/0904171416.jpg", src: "/static/2018-05-12_09_25/0904171416.jpg",
  thumb: "/static/2018-05-12_09_25/thumbs/0904171416.jpg", dir: "2018-05-12_09_25", file_date: "2018-05-18", exif_date: null }
     */

      // show modal
      mui.overlay('on', modalEl);


  }





    };


    /*
      Enable filling of text fields
      from edit toolbar
    */
    const tag_editor = {

      init:() =>{
        tag_editor.company.init();
        tag_editor.loc.init();
        tag_editor.subject.init();
        tag_editor.section.init();
        tag_editor.quick_btn.init();
      },


      quick_btn:{

        init:()=>{


          _app.event_add_class('.del-float-btn', 'click', tag_editor.quick_btn._remove);
          _app.event_add_class('.create_quick_btn', 'click', tag_editor.quick_btn._set);

            _app.event_bind('quick-btn-wrapper', 'click', tag_editor.quick_btn._click);

              tag_editor.quick_btn._load();
        },

       _click:(e)=>{
          if (e.target && e.target.matches("button.quick_btn_trigger")) {
                 tag_editor.company.select_apply(e.target.innerHTML, e.target.value);
           }
       },

        _load:()=>{

         _app.xhr_get('/ui/index', {type:'quick_btn'}, (e)=>{

           var res = _app.xhr_res(e);
           res.results.forEach( (node)=> {
             console.log(node)
             ele = _app.el(node.group+'-quick-btns');
             _app.el_html(ele, node.markup);
           });
         });
        },
        _set:(e)=>{

           var ele = e.target;
           var trg = _app.el(ele.getAttribute('data-target'));
           var grp = ele.getAttribute('data-group')
           var evt = ele.getAttribute('data-event');
           var btn = document.createElement("button");
           var tmp = document.createElement("div");
           var txt = _app.option.txt(trg);

             //<div id="drag1" draggable="true" style="background-color:#333; width:100px;" ondragstart="(event)">TEST</div>


           btn.className = 'mui-btn mui-btn--small mui-btn--primary quick_btn_trigger'
           btn.type = 'button'
           btn.value  = trg.value;
           btn.setAttribute('data-event', evt);
           btn.setAttribute('data-group', grp);
           btn.setAttribute('data-id', '{}');
           btn.style.position = 'relative';
           btn.innerHTML = txt;
           tmp.appendChild(btn);

           var mk = tmp.innerHTML
           _app.xhr_post('/ui/create', {name:txt, type:'quick_btn', markup: mk, group: grp}, (e)=>{});
           _app.el(grp+'-quick-btns').appendChild(btn);





        },



          btnAllowDrop:(e)=>{
            e.preventDefault();
          },

            btnDrag:(e)=>{
                e.dataTransfer.setData("text", e.target.id);
            },

            btnDrop:(e)=>{
                e.preventDefault();
                var data = e.dataTransfer.getData("text");
                e.target.appendChild(document.getElementById(data));
          },


      _remove:(e)=>{console.log(e)  },

      },

      company:{
          select:'',
          btn:'',
          init:()=>{
            tag_editor.company.select = _app.el('company-select');
            tag_editor.company.btn    = _app.el('evt-add-company');
            tag_editor.company.select_init();
          },
          select_init:()=>{
              _app.xhr_get('/company/index', {active:true}, (e)=>{
                tag_editor.company.select_events();
                tag_editor.company.select_load(_app.xhr_res(e));
              });
          },
          select_events:()=>{
            _app.event_add(tag_editor.company.btn, 'click', ()=>{
              tag_editor.company.select_apply(_app.option.txt(tag_editor.company.select),
                                                              tag_editor.company.select.value);
            });
          },
          select_apply:(txt, val)=>{
            var checkboxes = _app.query_dom("input[type='checkbox']:checked");
            checkboxes.forEach((node, idx)=>{
              _app.el(node.value+'-company-display').innerHTML = txt;
              _app.el(node.value+'-company').value = val;
            });
          },
          select_load:(data)=>{
            var _select = tag_editor.company.select
            var _option;
            _select.appendChild(_app.option.create(-1, ''));
            _.forOwn(data.companies, (v, k)=>{
              _select.appendChild(_app.option.create(v.id, v.name));
            });
            $(_select).select2({tags: true, selectOnBlur: true, multiple: false});
          }
      },


      loc:{
        select:'',
        btn:'',
        init:() => {
          tag_editor.loc.select = _app.el('loc-select');
          tag_editor.loc.btn    = _app.el('evt-add-loc');
          tag_editor.loc.select_init();
        },
        select_init:()=>{
            _app.xhr_get('/location/index', {active:true}, (e)=>{
              tag_editor.loc.select_events();
              tag_editor.loc.select_load(_app.xhr_res(e));
            });
        },
        select_events:()=>{
          _app.event_add(tag_editor.loc.btn, 'click', ()=>{
            var checkboxes = _app.query_dom("input[type='checkbox']:checked");
            checkboxes.forEach((node, idx)=>{
            _app.el(node.value+'-loc-display').innerHTML = _app.option.txt(tag_editor.loc.select);
            _app.el(node.value+'-loc').value = tag_editor.loc.select.value;
          });
          });
        },
        select_load:(data) => {
          var _select = tag_editor.loc.select
          var _option;
          _select.appendChild(_app.option.create(-1, ''));
          _.forOwn(data.locations, (v, k)=>{
            _select.appendChild(_app.option.create(v.id, v.name));
          });
          $(_select).select2({tags: false, selectOnBlur: true, multiple: false});
        }
      },


      subject:{
        field:'',
        btn:'',
        init:() => {
          tag_editor.subject.field = _app.el('subject-select');
          tag_editor.subject.btn = _app.el('evt-add-subject');
          tag_editor.subject.select_events();
        },

        select_events:()=>{
          _app.event_add(tag_editor.subject.btn, 'click',()=>{
            var checkboxes = _app.query_dom("input[type='checkbox']:checked");
            checkboxes.forEach((node, idx)=>{
            _app.el(node.value+'-subject').value = tag_editor.subject.field.value;
          });
          });
        },
      },



      section:{
        select:'',
        btn:'',
        init:()=>{
          tag_editor.section.select = _app.el('section-select');
          tag_editor.section.btn    = _app.el('evt-add-section');
          tag_editor.section.select_init();
        },
        select_init:()=>{
            _app.xhr_get('/section/index', {active:true}, (e)=>{
              tag_editor.section.select_events();
              tag_editor.section.select_load(_app.xhr_res(e));
            });
        },
        select_events:()=>{
          _app.event_add(tag_editor.section.btn, 'click', ()=>{
            var checkboxes = _app.query_dom("input[type='checkbox']:checked");
            checkboxes.forEach((node, idx)=>{
            _app.el(node.value+'-section-display').innerHTML = _app.option.txt(tag_editor.section.select);
            _app.el(node.value+'-section').value = tag_editor.section.select.value;
          });
          });
        },
        select_load:(data)=>{
          var _select = tag_editor.section.select
          var _option;
          _select.appendChild(_app.option.create(-1, ''));
          _.forOwn(data.sections, (v, k)=>{
            _select.appendChild(_app.option.create(v.id, v.name));
          });
          $(_select).select2({tags: false, selectOnBlur: true, multiple: false});
        }
      },

    };

    $(document).ready(() => {
      tag_editor.init();
      _scan.init("{{path}}", "{{mkdir.name}}", "{{sect_obj.id}}", "{{sect_obj.name}}", "{{loc_obj.id}}", "{{loc_obj.name}}");
      select_on_shift('#file-list', '.chkbox');
    });

</script>





{% endblock %}
