{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main_header %}{% endblock %}
{% block sub_header %}{% endblock %}



{% block content %}


{% for e in errors %} <p>{{e}}</p> {% endfor %}
<label>Sign In:</label>
<form class="login-form" action="{% url 'login' %}" method="post">
  {% csrf_token %}
    <input type="text" class="form-control" name="username" placeholder="Username" required="true">
    <input type="password" class="form-control" name="password" placeholder="Password" required="true">
    <input type="submit" class="btn btn-login float-right" value="Sign In">
</form>


{% endblock %}

{% block extrajs %}
{% endblock %}
