{% extends 'base.html' %}
{% block title %}Image Search{% endblock %}
{% block main_header %} {% endblock %}
{% block navbar%}{% endblock %} 
{% block sub_header %}{% endblock %}

{% block content %}

<div class="mui-row">

 <div class="mui-col-md-12">
    {%  include "index/_form.html" %}
 </div>


 <div class="mui-col-md-12">
  <div class="mui-panel">
   <center id="loading-spinner" style="display:none;"><i class="fas fa-spinner fa-spin fa-4x"></i></center>
   <div id="display-sequence"> </div>
  </div>
 </div>


</div><!-- end row -->

{% endblock %}

{% block extrajs %}
<script src="/static/js/views/index.js"></script>
<script type="text/plain" id="slide-show-template">  {%  include "index/_slides.html" %} </script>
<script type="text/javascript"> _images.init(); </script>
{% endblock %}
